.game-container {
  .col:first-child{
    margin-left: 25%;
  }
  .col {
    //width: 33.33%;
    height: 200px;
    margin: 5px;
    padding: 0;
    border-radius: 8px;
    transition: ease-in 0.35s;
    transform: rotateY(0deg);
    p {
      user-select: none;
      background-color: #282c34;
      color: #282c34;
      transform: rotateY(180deg);
      transition: background-color  ease 0.25s;
      margin: 0;
    }
    &.active-item{
      transform: rotateY(180deg);
      p{
        background-color: transparent;
      }
    }
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid;
    border-radius: 10px;
  }

}